* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: grid;
}

header .logo {
  position: absolute;
}

header .carrito {
  position: absolute;
  margin-left: 1730px;
  margin-top: 40px;
  width: 80px;
}

header nav {
  position: sticky;
  top: 0;
}

header nav li {
  display: inline-block;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-left: 190px;
  margin-top: 50px;
  position: sticky;
  top: 0;
}

header nav .seccion {
  text-decoration: none;
  color: white;
}

header nav .seccion:hover {
  color: #a558ec;
}

.mainindex div {
  padding-top: 20px;
}

.mainindex div .portada {
  margin-top: 50px;
}

.mainindex div .columnas {
  color: white;
  font-size: 25px;
  padding: 60px;
  font-weight: bold;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.mainindex div .parrafoinicio {
  color: #a558ec;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

.sectionindex .conjunto {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-bottom: 150px;
  padding-top: 70px;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}

.sectionindex .cambio {
  color: #a558ec;
  animation-name: aparece;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes aparece {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.sectionindex .fotoconjunto {
  border-radius: 15px;
  margin-left: 150px;
}

.sectionindex .fotoconjunto:hover {
  border: solid #a558ec 2px;
}

.sectionindex .dark {
  color: white;
  position: absolute;
  top: 140%;
  left: 15%;
  font-family: "Montserrat", sans-serif;
}

.sectionindex .precioconjunto {
  color: #a558ec;
  margin-left: 310px;
  padding: 15px;
}

.sectionindex .fotoconjunto2 {
  margin-left: 560px;
  border-radius: 15px;
}

.sectionindex .fotoconjunto2:hover {
  border: solid #a558ec 2px;
}

.sectionindex .light {
  color: white;
  position: absolute;
  top: 140%;
  left: 70%;
  font-family: "Montserrat", sans-serif;
}

.sectionindex .precioconjunto2 {
  color: #a558ec;
  margin-left: 1380px;
  margin-top: -50px;
}

footer {
  color: #706a6a;
  text-align: center;
  padding-top: 30px;
}

.textofooter {
  font-size: 20px;
}

.productos2 {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header .logo {
  position: absolute;
}

header .carrito {
  position: absolute;
  margin-left: 1730px;
  margin-top: 40px;
  width: 80px;
}

header nav {
  position: sticky;
  top: 0;
}

header nav li {
  display: inline-block;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-left: 190px;
  margin-top: 50px;
  position: sticky;
  top: 0;
}

header nav .seccion {
  text-decoration: none;
  color: white;
}

header nav .seccion:hover {
  color: #a558ec;
}


.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  grid-template-rows: auto auto;
  margin-top: 120px;
}


.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 6px #db4cdb;
}

.card {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: #db4cdb;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.product-name {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.product-price {
  margin-top: 10px;
  font-size: 1rem;
  color: #db4cdb;
  text-align: center;
}


.footerproducto {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.footerproducto .tarjetas {
  width: 150px;
  margin-top: 10px;
}


.titulonosotros {
  color: #a558ec;
  text-align: center;
  margin-top: -670px;
  font-size: 50px;
  font-style: italic;
  display: fixed;
}

.videokibua {
  width: 310px;
  margin-left: 400px;
  margin-top: 220px;
  display: block;
}

.parrafonosotros {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: justify;
  margin-left: 900px;
  margin-top: -20px;
  margin-right: 400px;
  padding: 50px;
}

.barra-contraste {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.barra-contraste h2 {
  margin: 0;
  font-size: 24px;
}

.barra-contraste p {
  margin: 10px 0;
  font-size: 16px;
}

.barra-contraste input[type=email] {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.barra-contraste button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 5px;
}

.barra-contraste button:hover {
  background-color: #ccc;
}

.formulario {
  width: 700px;
  margin-left: 1000px;
  border: 3px #ffbeff solid;
  color: white;
  margin-top: 100px;
  border-radius: 10px;
  padding: 20px;
  background-color: #333;
  position: relative;
}

.comunicate {
  color: #a558ec;
  margin-top: 115px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  position: relative;
}

.form-control:hover,
.form-control:focus {
  border: solid 1px #a558ec;
}

.instagram2 {
  margin-top: -450px;
  margin-left: 280px;
  width: 400px;
  height: 200px;
  border-radius: 12px;
  position: fixed;
}

.facebook2 {
  margin-top: 20px;
  margin-left: 280px;
  width: 400px;
  height: 200px;
  border-radius: 12px;
  position: fixed;
}

.seguipedido {
  color: white;
  padding: 10px;
  margin-left: 1100px;
  margin-top: 220px;
  font-family: "Afacad Flux", sans-serif;
  text-decoration: underline;
}

.textopedido {
  color: white;
  text-align: justify;
  padding: 10px;
  margin-left: 750px;
  font-family: "Afacad Flux", sans-serif;
  font-size: 35px;
  margin-right: 200px;
}

.fotopedido {
  width: 500px;
  position: absolute;
  margin-left: 200px;
  margin-top: -160px;
}

.enlacepedido {
  text-decoration: none;
  color: #a558ec;
}

.footerpedido {
  margin-top: 100px;
}

.barra-contraste {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.barra-contraste h2 {
  margin: 0 0 20px;
  font-size: 24px;
  color: #fff;
}

.barra-contraste iframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
}

@media screen and (max-width: 768px) {
  header .logo {
    width: 100px;
    position: relative;
    margin: 10px auto;
    display: block;
  }

  header .carrito {
    position: relative;
    margin: 10px auto;
    display: block;
    width: 50px;
  }

  header nav ul {
    text-align: center;
    padding: 10px 0;
  }

  header nav li {
    display: block;
    margin: 10px 0;
  }

  .mainindex div .columnas {
    font-size: 18px;
    padding: 20px;
  }

  .sectionindex .conjunto {
    font-size: 20px;
    padding: 20px 0;
  }

  .sectionindex .fotoconjunto,
  .sectionindex .fotoconjunto2 {
    width: 40%;
    margin: 20px auto;
  }

  .sectionindex .dark,
  .sectionindex .light {
    position: relative;
    font-size: 16px;
  }

  .sectionindex .precioconjunto,
  .sectionindex .precioconjunto2 {
    font-size: 16px;
    margin: 10px 0;
  }

  footer .textofooter {
    font-size: 16px;
  }


  .titulonosotros {
    font-size: 30px;
    margin-top: 0;
  }

 
  .videokibua {
    width: 50%;
    margin: 20px auto;
    display: block;
  }

  .parrafonosotros {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
  }

  .barra-contraste {
    padding: 15px;
    
  }

  .barra-contraste h2 {
    font-size: 20px;
  }

  .barra-contraste p {
    font-size: 14px;
  }

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .logo {
      width: 120px;
      margin-bottom: 10px;
    }
  
    .carrito {
      width: 40px;
    }
  
    nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      width: 100%;
      list-style: none;
    }
  
    nav ul li {
      margin: 8px 0;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  
    /* Ajustes de la sección de formulario */
    .formulario {
      width: 90%;
      margin: 20px auto;
      padding: 20px;
      background-color: #333;
      color: white;
      border: 3px solid #ffbeff;
      border-radius: 10px;
    }
  
    .comunicate {
      font-size: 24px;
      text-align: center;
      margin-top: 30px;
      color: #a558ec;
    }
  
    .form-control {
      width: 100%;
      padding: 12px;
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      color: black;
    }
  
    .form-control:hover,
    .form-control:focus {
      border-color: #a558ec;
    }
  
    /* Ajustes para Instagram y Facebook */
    .instagram2, .facebook2 {
      width: 90%;
      margin: 20px auto;
      border-radius: 12px;
      position: relative;
    }
  
    .instagram2 img, .facebook2 img {
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
  
    /* Ajuste de la barra de ubicación */
    .barra-contraste iframe {
      width: 100%;
      height: 250px;
      border-radius: 10px;
    }
  
    /* Ajustes del footer */
    footer {
      text-align: center;
      padding: 20px;
    }
  
    .textofooter {
      font-size: 14px;
      color: #777;
    }
  
    .tarjetas {
      width: 80%;
      margin-top: 10px;
    }
    
    /* Ajuste general de la sección de enlaces */
    .seccion {
      font-size: 16px;
      padding: 10px;
      text-align: center;
    }
    @media screen and (max-width: 768px) {
      .seguipedido {
          font-size: 24px; /* Reduce el tamaño de la fuente */
          margin-left: 0; /* Alinea el texto de forma centrada */
          margin-top: 50px; /* Ajuste en la posición */
          text-align: center; /* Centra el título */
      }
  
      .textopedido {
          font-size: 18px; /* Reduce el tamaño de la fuente */
          margin-left: 20px; /* Ajusta el margen */
          margin-right: 20px; /* Ajusta el margen */
          padding: 10px;
          text-align: justify;
      }
  
      .fotopedido {
          width: 50%; /* Hace que la imagen ocupe todo el ancho */
          margin-left: 160px; /* Elimina el margen */
          margin-top: 20px; /* Ajuste en la posición */
          position: relative;
          margin: 20 auto;
          
      }
  
      .enlacepedido {
          font-size: 18px; /* Ajusta el tamaño del enlace */
      }
  
      .footerpedido {
          margin-top: 20px; /* Ajuste en la posición del pie de página */
          text-align: center; /* Centra el texto */
      }
  
      .tarjetas {
          width: 80%; /* Ajusta el tamaño de la imagen de las tarjetas */
          margin: 0 auto; /* Centra la imagen */
          display: block;
      }
  }
  
}
  
  
