.productos2 {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    margin-top: 70px;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px;
    text-align: center;
    background-color: #db4cdb;
    border: 1px solid #db4cdb;

}

.rockstar {
    color: white;
    font-family: "Oswald", sans-serif;
    margin-left: 80px;
    margin-top: 20px;
    position: absolute;
}

.preciorockstar {
    color: #f83df8;
    margin-left: 123px;
    margin-top: 50px;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.masterpiece {
    color: white;
    font-family: "Oswald", sans-serif;
    margin-left: 60px;
    margin-top: 19px;
    position: absolute;
}

.preciomasterpiece {
    color: #f83df8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 130px;
    margin-top: 49px;
    position: absolute;
}

.active1 {
    color: white;
    font-family: "Oswald", sans-serif;
    margin-left: 340px;
    margin-top: 423px;
    position: absolute;
}

.precioactive {
    color: #f83df8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 340px;
    margin-top: 479px;
    position: absolute;
}

.zapatillas1 {
    margin-left: 60px;
    position: relative;
}

.denver {
    color: white;
    font-family: "Oswald", sans-serif;
    margin-left: 150px;
    margin-top: 12px;
    position: absolute;
}

.preciodenver {
    color: #f83df8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 180px;
    margin-top: 36px;
    position: absolute;
}

.card:hover {
    opacity: 1;
    border: 2px gray solid;
}

.buzo2 {
    position: absolute;
    width: 300px;
    margin-left: -1697px;
    margin-top: 310px;
    border-radius: 5px;

    .remera2 {
        position: absolute;
        width: 300px;
        margin-left: -1310px;
        margin-top: 300px;
        border-radius: 5px;
        height: 310px;
    }

}

.remera2 {
    position: absolute;
    width: 300px;
    margin-left: -1310px;
    margin-top: 300px;
    border-radius: 5px;
    height: 310px;
}

.freres {
    color: white;
    font-family: "Oswald", sans-serif;
    margin-left: -1210px;
    margin-top: 635px;
    position: absolute;
}

.preciofreres {
    color: #f83df8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -1183px;
    margin-top: 665px;
    position: absolute;
}

.pantalon2 {
    position: absolute;
    width: 300px;
    margin-left: -835px;
    margin-top: 295px;
    border-radius: 5px;
    height: 310px;
}

.vintage {
    color: white;
    font-family: "Oswald", sans-serif;
    margin-left: -740px;
    margin-top: 630px;
    position: absolute;
}

.preciovintage {
    color: rgb(247, 64, 247);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -710px;
    margin-top: 657px;
    position: absolute;
}

.zapatillas2 {
    position: absolute;
    width: 300px;
    margin-left: -387px;
    margin-top: 285px;
    border-radius: 5px;
    height: 310px;
}

.peggy {
    color: white;
    font-family: "Oswald", sans-serif;
    margin-left: -295px;
    margin-top: 620px;
    position: absolute;
}

.preciopeggy {
    color: rgb(248, 61, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -260px;
    margin-top: 647px;
    position: absolute;
}

.kieeh {
    color: white;
    font-family: "Oswald", sans-serif;
    margin-left: -1610px;
    margin-top: 637px;
    position: absolute;
}

.preciokieeh {
    color: #f83df8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -1573px;
    margin-top: 665px;
    position: absolute;
}



.footerproducto {
    margin-top: 500px;
}