.seguipedido {
  color: $blanco;
  padding: 10px;
  margin-left: 1100px;
  margin-top: 220px;
  font-family: "Afacad Flux", sans-serif;
  text-decoration: underline;

}

.textopedido {
  color: $blanco;
  text-align: justify;
  padding: 10px;
  margin-left: 750px;
  font-family: "Afacad Flux", sans-serif;
  font-size: 35px;
  margin-right: 200px;

}

.fotopedido {
  width: 500px;
  position: absolute;
  margin-left: 200px;
  margin-top: -160px;
}

.enlacepedido {
  text-decoration: none;
  color: $principal
}

.footerpedido {
  margin-top: 100px;
}

.barra-contraste {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.barra-contraste h2 {
  margin: 0 0 20px;
  font-size: 24px;
  color: #fff;

}

.barra-contraste iframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
}