.titulonosotros {
    color: $principal;
    text-align: center;
    margin-top: -670px;
    font-size: 50px;
    font-style: italic;
    display: fixed;
}

.videokibua {
    width: 310px;
    margin-left: 400px;
    margin-top: 220px;
    display: block;
}

.parrafonosotros {
    color: $blanco;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-left: 900px;
    margin-top: -20px;
    margin-right: 400px;
    padding: 50px;
}